  <% articleArray.forEach(element => { %> 
     <article class="card pure-u-1-2">
       <header>
              <img class="card-img pure-img" src="/images/<%=element.img %>" alt="Le code css de notre site">
              <h2><%= element.title %></h2>
              <div class="card-meta">
                Par <a href="/author/<%=element.author %>"><%= element.author %></a> 
                dans la catégorie <a href="/category/<%= element.category %>"><%= element.category %></a>
              </div>
            </header>
            <p>
              <%= element.text.split(" ").splice(0,30).join(" ") %>
            </p>
            <a class="card-action pure-button" href="/article/<%= element.id %> ">Lire l'article</a>
          </article>
          <% }); %>
        </div>